<ion-header class="ion-no-border">
  <ion-toolbar class="speed-toolbar">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/auth/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="forgot-content">
  <div class="forgot-wrapper">
    <div class="icon-badge"><ion-icon name="lock-open-outline"></ion-icon></div>
    <h2>{{ 'auth.resetPassword' | t }}</h2>
    <p>{{ 'auth.resetPasswordSubtitle' | t }}</p>

    <div class="input-group">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-input [(ngModel)]="email" type="email" [placeholder]="'auth.emailAddress' | t" dir="ltr"></ion-input>
    </div>

    <ion-button expand="block" [disabled]="loading" class="reset-btn" (click)="resetPassword()">
      <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
      <span *ngIf="!loading">{{ 'auth.sendResetLink' | t }}</span>
    </ion-button>
  </div>
</ion-content>
